<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Blog Web App</title>
</head>
<body>
    <!-- new post: -->
    <form action="/post" method="POST">
        <label>new post:</label>
        <input class="new-post-title" type="text" name="post-title" placeholder="post title" required>
        <input class="new-post-content" type="text" name="post-content" placeholder="write your post here" required>
        <input class="new-post-author" type="text" name="post-author" placeholder="your name">
        <input class="post-btn" type="submit" value="post">
    </form>



    <!-- old posts -->
     <div id="old-posts">
    <% if (locals.posts) {%>
        <% for (let i = posts.length - 1; i >= 0; i--) { %>
            <div class="post">
                <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
                <p class="post-title"><%= posts[i].title %></p>
                <p class="post-content"><%= posts[i].content %></p>
                <p class="post-details">written by: <%= posts[i].author %> at: <%= posts[i].dateCreatd %></p>
                <form action="/edit" method="PATCH">
                    <input class="edit-btn" type="submit" value="edit">
                </form>
                <form action="/delete" method="DELETE">
                    <input class="delete-btn" type="submit" value="delete">
                </form>
                <p>~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~~</p>
            </div>

        <% }; %>
    <% }; %>

     </div>
</body>
</html>